<!DOCTYPE html>
<html lang="en">
<head>
<title>Men Without Yachts Club</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" media="screen" href="css/reset.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/grid_12.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/slider.css">
<script src="js/jquery-1.7.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/tms-0.3.js"></script>
<script src="js/tms_presets.js"></script>
<script src="js/cufon-yui.js"></script>
<script src="js/Asap_400.font.js"></script>
<script src="js/Coolvetica_400.font.js"></script>
<script src="js/Kozuka_M_500.font.js"></script>
<script src="js/cufon-replace.js"></script>
<script src="js/FF-cash.js"></script>
<script>
$(window).load(function(){
	$('.slider')._TMS({
	prevBu:'.prev',
	nextBu:'.next',
	pauseOnHover:true,
	pagNums:false,
	duration:800,
	easing:'easeOutQuad',
	preset:'Fade',
	slideshow:7000,
	pagination:'.pagination',
	waitBannerAnimation:false,
	banners:'fade'
	})
}) 	
</script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
<![endif]-->
</head>
<body>
<div class="main">
  <div class="bg-img"></div>
  <!--==============================header=================================-->
  <header>
    <h1><a href="index.html">Men Without <strong>Yachts Club</strong></a></h1>
    <nav>
      <ul class="menu">
        <li class="current"><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="howtojoin.html">How to Join</a></li>
        <li><a href="contacts.html">Contact Us</a></li>
      </ul>
    </nav>
  </header>
  <!--==============================content================================-->
  <section id="content">
    <div class="container_12">
      <div class="grid_12">
        <div class="slider">
          <ul class="items">
            <li><img src="images/yacht-1_adobespark.png" alt="">
              <div class="banner">
                <p class="font-1">Join Our<span>Club!</span></p>
                <p class="font-2">Men Without Yachts Club is always looking for new members! And it's free!</p>
                <a href="howtojoin.html">Join Now!</a> </div>
            </li>
            <li><img src="images/yacht-2_adobespark.png" alt="">
              <div class="banner">
                <p class="font-1">Yachts are<span>Overrated</span></p>
                <p class="font-2">Yachts portray the illusion of luxury but can tear families apart. Don't fall into the societal trap of getting a yacht and educate yourself!</p>
                <a href="howtojoin.html">Join Now!</a> </div>
            </li>
            <li><img src="images/yacht-3_adobespark.png" alt="">
              <div class="banner">
                <p class="font-1">Live Life<span>Yacht-Free!</span></p>
                <p class="font-2">Yacht are a toxic addition to your life. It can be hard to say no. Let us help you navigate your life!</p>
                <a href="howtojoin.html">Join Now!</a> </div>
            </li>
          </ul>
          <div class="pagination">
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="grid_12 top-1">
        <div class="block-1 box-shadow">
          <p class="font-3">Men Without Yachts Club is an organization for men who are not in ownership of a yacht where they can convene and find solidarity. The world is a difficult place without a yacht. Let us help you find solace in your life by joining Men Without Yachts Club!</p>
        </div>
      </div>
      <div class="grid_12 top-1">
        <div class="box-shadow">
          <div class="wrap block-2">
            <div class="col-1">
              <h2 class="p3"><span class="color-1">Upcoming</span> Events</h2>
              <div class="wrap box-1"> <img src="images/ted.jpg" alt="" class="img-border img-indent" width="185 px" height="auto">
                <div class="extra-wrap">
                  <p class="p2"><strong>TED Talk: December 21, 2021</strong> </p>
                  <p>Join our President Jimothy Jimmerson as he leads his second TED Talk how his life perspective had changed after joining and becoming the president of Men Without Yachts Club. Listen as he describes his life story and aims to educate other young men about yachts.</p>
                </div>
              </div>
              <div class="wrap box-1 top-2"> <img src="images/dins.jpg" alt="" class="img-border img-indent" width="180px" height="auto">
                <div class="extra-wrap">
                  <p><strong>New Members Orientation: November 15, 2021</strong></p>
                  <p>Annual welcome dinner for Men Without Yachts Club members! Learn what being a Men Without Yacht Members is all about over a nice plate of dinner at Zoop's Kitchen!</p>
                </div>
              </div>
            </div>
            <div class="col-2">
              <h2 class="p3"><span class="color-1">Proud </span>Affiliates</h2>
              <ul class="list-1">
                <li style="color: #01a5ca;">Yacht-less Men of America</a></li>
                <li style="color: #01a5ca;">Women's Alliance Against Yachts</a></li>
                <li style="color: #01a5ca;">No Yacht Initative</a></li>
                <li style="color: #01a5ca;">Yachtless Student Alliance</a></li>
                <li style="color: #01a5ca;">Yacht Equality Project</a></li>
              </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
  <!--==============================footer=================================-->
  <footer>
    <p>© 2012 Fitness Club</p>
    <p>Website Template by <a target="_blank" href="http://www.templatemonster.com/" class="link">TemplateMonster.com</a></p>
  </footer>
</div>
<script>Cufon.now();</script>
</body>
</html>
